include README.md
include LICENSE.txt
include licenses/DesignWorks_SDKSamplesAndTools_EULA.pdf
include licenses/OptiX_ThirdParty_Licenses.txt
include licenses/LibTiff.Net_License.txt
include licenses/Newtonsoft.Json_License.txt
include plotoptix/bin/*.so
include plotoptix/bin/*.dll
include plotoptix/bin/*.xml
include plotoptix/bin/*.config
include plotoptix/bin/cuda/*.ptx